name: PR

on:
  pull_request:
    paths:
      - src/**
      - lsp/**
      - build.gradle
      - gradle.properties
      - local.properties
      - .github/**
      - gradle/wrapper/gradle-wrapper.properties
  workflow_dispatch:

concurrency:
  group: build-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  pr-build:
    runs-on: ubuntu-latest
    container:
      image: ubuntu:22.04
    env:
      CI: true
    steps:
      - uses: actions/checkout@v6

      - uses: ./.github/actions/gradle-run
        with:
          steps: |-
            test
